body {margin: 0;} /*обнуление внешних отступов*/



div{
	background-color: rgb(252,157,0);
	width: 100%;
	font: 13px Arial;
	display:inline-block;
}

ul{
	background-color: rgb(252,157,0);
	list-style-type: none;
	padding: 0px 0px 0px 13px;
	margin: 0px;
	width:100%;
	
}
li{
}
a{
	margin-right: 3px;
	padding: 10px 15px 10px 13px;
	float: left;
	text-decoration: none;
	color: white;
	background-color: rgb(252,157,0);
}
a:hover{
	background-color: rgb(233,51,1);
}
