a{
	text-decoration: none;
	font-family: arial;
	font-size:13px;
	color: #FFFFFF;
}
p:hover{
	font-weight:bold;
	background-color: #FFFFFF;
	color: black;
}
p{
	border: 1px solid;
	border-color: black;
	width: 193px;
	padding-top:7px;
	padding-left:5px;
	padding-bottom:7px;
	margin: 5px 0;
	background-color: rgb(72,72,72);
	font-weight:bold;
	color: white;
}
